<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/devicedesk.css">

    <script src="/js/vendor/jquery.min.js"></script>
    <script>
        $(function () {
            $('.clone-button').on('click', function () {
                var $this = $(this);
                var state = parseInt($this.attr('data-stickers'));
                $this.toggleClass('active');
                var $qrSticker = $this.parents('.sticker').find('.qr-sticker');
                if (state === 1) {
                    $qrSticker.after($qrSticker.clone());
                    state++;
                } else {
                    $qrSticker.first().remove();
                    state = 1;
                }
                $this.attr('data-stickers', state);
            });
            $('#printSticker').on('click', function () {
                window.print();
                window.close();
            });
        });
    </script>
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <div class="main-content col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="print-tool">
                        <span id="printSticker"><span class="fa fa-print"></span> Print </span>
                        <br>
                    </div>

                    <% qrList.forEach(function (qr) { %>
                    <div class="sticker">
                        <div class="print-tool">
                            <span class="clone-button" data-stickers="1"><span class="fa fa-clone"></span> Duplicate sticker</span>
                        </div>
                        <i class="fa fa-scissors" aria-hidden="true"></i>
                        <div class="qr-sticker" style="">
                            <%- qr.svg %>
                            <br>
                            <%= qr.uniqId%>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
