<!DOCTYPE html>
<html>
<head>
    <% include partial/head.ejs %>
</head>
<body class="admin-page">

<% include partial/menu.ejs %>

<div class="container-fluid">
    <div class="row content">
        <div class="main-content col-sm-9 col-sm-offset-3">
            <h1 class="page-header">Пользователи</h1>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Операции</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Арямнов</td>
                            <td>Евгений</td>
                            <td>aryamnov@gruppa501.com</td>
                            <td>
                                <span class="fa fa-pencil-square-o "></span>
                                <span class="fa fa-user-times"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Горбунов</td>
                            <td>Андрей</td>
                            <td>gorbunove@gruppa501.com</td>
                        </tr>
                        <tr>
                            <td>Потемкин</td>
                            <td>Иван</td>
                            <td>potemkin@gruppa501.com</td>
                        </tr>
                        <tr>
                            <td>Тимчур</td>
                            <td>Иван</td>
                            <td>timchur@gruppa501.com</td>
                        </tr>
                        <tr>
                            <td>Курталиев</td>
                            <td>Эльнур</td>
                            <td>kurtaliev@gruppa501.com</td>
                        </tr>
                        <tr>
                            <td>Эгамназаров</td>
                            <td>Алим</td>
                            <td>egamnazarov@gruppa501.com</td>
                        </tr>
                        <tr>
                            <td>Юрченко</td>
                            <td>Георгий</td>
                            <td>jurchenko@gruppa501.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
