<!DOCTYPE html>
<html>
<head>
    <% include partial/head.ejs %>
</head>
<body>

<% include partial/menu.ejs %>

<div class="container-fluid">
    <div class="row content">
        <div class="main-content col-sm-9 col-sm-offset-3">
            <h1 class="page-header">Dashboard</h1>
            <div class="panel panel-default">
                <div class="panel-heading">Действия</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <h4>Занято мной</h4>
                                <p>0</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <a class="btn btn-primary btn-lg" href="/lock/"><i class="fa fa-lock fa-fw"></i> Занять</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <a class="btn btn-success btn-lg" href="/unlock/"><i class="fa fa-unlock fa-fw"></i> Сдать</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well">
                                <a class="btn btn-info btn-lg" href="/find/"><i class="fa fa-search fa-fw"></i> Найти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Устройства</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="well">
                                <h4>В хранилище</h4>
                                <p>34</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well">
                                <h4>Свободные</h4>
                                <p>34</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well">
                                <h4>Занятые</h4>
                                <p>0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>